@model Product

  <div class="card card-outline-primary m-1 p-1">

      <div class="bg-faded p-1">
          <h4>
              @Model.Name
              <span class="badge badge-pill badge-primary" style="float:right">
                  <small>@Model.Price.ToString("c")</small>
              </span>
          </h4>
      </div>

      <form id="@Model.ProductId" method="post" asp-action="Index" asp-controller="Cart"  asp-antiforgery="true">
          <input type="hidden" asp-for="ProductId"/>
          <input type="hidden" name="returnUrl"
                 value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
          <span class="card-text p-1">
              @Model.Description
              <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                  Add To Cart
              </button>
          </span>
      </form>

  </div>